
html,body
{
    height:auto;
    width:100%;
    margin:0;
}


@font-face 
{
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}



body
{
    font-family: 'Roboto', 'sans-serif';
    /* color: white; */
    display: flex;
    background-color: #009dd1;
}


.appointments-table
{
    /* border: 1px solid black; */
    border-collapse: collapse;
    display: inline-block;
}

.appointments-table thead tr td
{
    white-space: nowrap;
    height: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    /* font-size: 5px; */
    
}

.appointments-table tr td
{
    white-space: nowrap;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
    background-color: white;
    border: 1px solid black;
}

.content
{
    margin: auto;
    display: inline-block;
}


.search-area
{
    font-size: 1em;
    
}

.search-bar
{
    height: auto;
    width: 12em;
    margin-bottom: 0.5em;
    border-radius: 1em;
    border: none;
    padding-left: 2em;
    padding: 0.5em;
    
}