
.main-nav
{
    background-color: #bfbfbf;
    height: auto;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;

}

.main-nav a
{
    position: relative;
    margin-top: 1.5em;
    margin: auto;
    margin-right: 0.3em;
    margin-bottom: 1em;
    float: right;
    color:  black ;
    font-weight: 900;
    text-decoration: none;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
}
    
.poff
{
    cursor: pointer;
    pointer-events: all;
    background-image: url( "../resources/poff.svg" );
    height: 2em;
    width: 2em;
    float: right;
    position: relative;
    margin-top: 1em;
    /* margin-bottom: 1.6em ; */
    margin-right: 2em;
    margin-left: 2em;
}

li
{
    display: inline;
    list-style-type: none;
}